{% extends 'snippets/indexTemplate.html' %}
{% load static %}

{% block title %} {{ title }} {% endblock title %}

{% block body %}
  <!-- Hero Section Begin -->
  <section class="hero-section">
      <div class="hero-items owl-carousel">
        {% for h in heroLogoQS %}
              <div class="single-hero-items set-bg" data-setbg="{{ h.image.url }}">
                  <div class="container">
                      <div class="row">
                          <div class="col-lg-5">
                              <span>{{ h.Name }}</span>
                              <h1>{{ h.value }}</h1>
                              <p>{{ h.description }}</p>
                              <a href="#" class="primary-btn">Shop Now</a>
                          </div>
                      </div>
                      <div class="off-card">
                          <h2>Sale <span>50%</span></h2>
                      </div>
                  </div>
              </div>
          {% endfor %}
      </div>
  </section>
  <!-- Hero Section End -->

  <!-- All catagory Section start -->
  <section >
    <div class="shadow-block">
    <div class="shadow p-3 mb-5 bg-white rounded">
     <div class="row" style="border-bottom: 1px solid #dbd6d6;">
            <div class="rt-section-title">
                <h3><u>All catageory</u></h3>
                <p> Explore all catagory avalable </p>
            </div>
            <div class="col-sm-12" style="float: left;position: absolute;padding: 15px;">
            <button class="btn btn-primary float-right btn-sm RbtnMargin button-centre" type="button">View All</button>
            </div>
     </div>
      <div class="row">
        <div class="owl-col-4 owl-carousel owl-theme">
          {% for b in catageoryQuerySet %}
          <div class="item">
                <div class="single-banner">
                    <a href="{% url 'product:listprod' mode='cat' filter=b.id %}">
                    <img class="img-circle" src='{{ b.image.url }}' alt="">
                    <div class="inner-text">
                        <h4>{{ b.name }}</h4>
                    </div>
                    </a>
                 </div>
            </div>
         {% endfor %}
         </div>
       </div>
     </div>
   </div>
   </section>
  <!-- All catagory Section END -->

  <!-- Sub catagory Section start -->
  {% for ckey,sccatlist in catageoryQuerySet.items %}
      {% for sckey,plist in sccatlist.items %}
      <section >
       <div class="shadow-block">
        <div class="shadow p-3 mb-5 bg-white rounded">
         <div class="row" style="border-bottom: 1px solid #dbd6d6;">
                <div class="rt-section-title">
                    <h3><u>{{ sckey.name }}</u></h3>
                    <p>{{ ckey.name }}</p>
                </div>
                <div class="col-sm-12" style="float: left;position: absolute;padding: 15px;">
                  {% csrf_token %}
                  <a href="{% url 'product:listprod' mode='subcat' filter=sckey.id %}">
                    <button class="btn btn-primary pull-right btn-sm RbtnMargin button-centre" type="button">View All</button>
                  </a>
                </div>
         </div>
          <div class="row">
            <div class="owl-col-6 owl-carousel owl-theme">
              {% for p in plist %}
              <div class="item">
                {% include 'products/snippets/card.html' with p=p %}
               </div>
             {% endfor %}
             </div>
             </div>
         </div>
       </div>
       </section>
      {% endfor %}
    {% endfor %}
    <!-- sub catagory Section END -->
{% endblock body %}
