{% extends "base.html" %}
{% load static %}

{% block title  %}
<title>List page Template</title>
{% endblock %}

{% block content %}
<div class='container'>
  <div class='row'>
{% for obj in object_list %}
    <div class='col'>
      {{forloop.counter}}
      {% include 'products/snippets/card.html' with instance=obj %}
      {% if forloop.counter|divisibleby:3 %}
      </div></div><div class='row'><div class='col'><hr/<div>
      {% else %}
      </div>
      {% endif %}
  
{% endfor %}
</div>
</div>
{% endblock %}
